button {
    border:none;
    padding: .4em 2em;
    margin: 20px auto;
    border-radius: 6px;
  }
  .btn-pry{
      background:white;
      color: purple;
  }
  /* .btn-pry:hover {
    background: white;
    color: rgb(71, 201, 245);
    border: 1px solid #C6D4DB;
  } */
  
  .btn-trans {
    border: 1px solid white;
    color:white;
    background: none;
  }
  
  /* .btn-wht:hover {
    background: white;
    color: black;
  } */
  